<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="alert alert-danger" role="alert" [hidden]="!searchUserSuccess">
                      No More Order Right Now
                    </div>
                    <div class="text-container" [hidden]="check">
                        <form #checkOrder="ngForm" (ngSubmit)="onCheckSubmit(checkOrder.value)">
                            <h2>Bus App</h2>
                            <div class="select-box">
                                <label for="select-box-1" class="label select-box"><span class="label-desc">Choose your Schedule</span></label>
                                <select id="select-box-1" class="select" ngModel name="schedule">
                                    <option>Choose your Schedule</option>
                                    <option *ngFor="let schedule of schedule_list" [value]="schedule['schedule_id']">{{ schedule['track_name'] }} : {{ schedule['schedule_start'] }} s.d {{ schedule['schedule_end'] }}<hr></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button id="search-location" type="submit" class="form-control-submit-button">CHECK</button>
                            </div>
                        </form>
                    </div>
                    <div class="text-container" [hidden]="!check">
                        <div class="image-container">
                            <agm-map id="user-map" [zoom]="zoom" [latitude]="current_lat" [longitude]="current_lng" (mapReady)="mapReady($event)">
                                <agm-marker [latitude]="current_lat" [longitude]="current_lng" [iconUrl]="bus_marker_url"></agm-marker>
                                <div *ngFor="let loc of pend_user_loc; let i = index; trackBy : identify">
                                    <agm-marker *ngIf="pend_order_list[i]['status'] == 'PEND'" class="driver-marker" [latitude]="loc['loc_latitude']" [longitude]="loc['loc_longitude']" [iconUrl]="pend_user_marker_url">
                                        <agm-info-window #infoWindow>
                                            <div>{{ pend_order_list[i]['user_name'] }}</div>
                                            <div>{{ pend_order_list[i]['user_number'] }}</div>
                                        </agm-info-window>
                                    </agm-marker>
                                </div>
                                <div *ngFor="let loc of acc_user_loc; let i = index; trackBy : identify">
                                    <agm-marker *ngIf="acc_order_list[i]['status']==='ACC'" class="driver-marker" [latitude]="loc['loc_latitude']" [longitude]="loc['loc_longitude']" [iconUrl]="acc_user_marker_url">
                                        <agm-info-window #infoWindow>
                                            <div>{{ acc_order_list[i]['user_name'] }}</div>
                                            <div>{{ acc_order_list[i]['user_number'] }}</div>
                                        </agm-info-window>
                                    </agm-marker>
                                </div>
                            </agm-map>
                        </div> <!-- end of image-container -->
                        <button class="btn btn-primary" (click)="reloadPage()">Refresh</button>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->